section.LL-Hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 1.25rem 12%;
  max-width: 100%;
  /* background-color: darkgray; */
  background-color: var(--color-primary);
  color: var(--color-white);
}

.LL-Hero-left h1 {
  color: var(--color-primary-2);
}

.LL-Hero-left .subtitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.LL-Hero-left {
  display: flex;
  flex-direction: column;
}
.LL-Hero-right {
  height: 400px;
  border-radius: 8px;
}

.LL-Hero-right img {
  height: 100%;
  width: 450px;
  object-fit: cover;
  border-radius: 1rem;
}

#LL-Hero-desc {
  padding: 1.5rem 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  section.LL-Hero {
    display: block;
    padding: 0;
    margin: 0;
  }
  .LL-Hero-left {
    position: absolute;
    width: 70%;
    top: calc(25% - 2 * 1.25rem);
    left: 15%;
    padding: 1.25rem;
    text-align: center;
    background-color: rgba(0 0 0 / 0.5);
  }
  .LL-Hero-left h1 {
    text-align: center;
  }
  .LL-Hero-right img {
    height: 100%;
    width: 100%;
  }
}
