h1,
h2,
h3,
h4,
h5,
h6,
ul,
div,
main,
header,
footer,
section,
article,
li,
a,
p,
input,
select,
textarea,
table,
thead,
th,
td,
tr,
tbody,
tfoot {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* input:focus,
input:focus-visible,
input:focus-within {
  border: 0;
  outline: 0;
} */

input {
  background-color: transparent;
}

li {
  list-style: none;
}

nav > ul > li,
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-full-black);
}

a:hover {
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Markazi Text', serif;
  line-height: 1;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-screen {
  width: 100vh;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-xs {
  font-size: 0.5rem;
}

.text-sm {
  font-size: 0.75rem;
}

.text-standard {
  font-size: 1rem;
}

.text-base {
  font-size: 1.25rem;
}

.text-m {
  font-size: 1.5rem;
}

.text-lg {
  font-size: 1.75rem;
}

.text-xl {
  font-size: 2rem;
}

.text-2xl {
  font-size: 4rem;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

.logo {
  display: block;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
